html {
    scroll-behavior: smooth;
}

/* section 1 */


@media only screen and (max-width: 360px) {
    .sec1{
        width: 100%;
    }
    .imgsec1{
        display: none;
    }
    .infosec1{
        margin-left: -80px;
    }
    .sec1ul{
        width: 100%;
    }

    .sec2{
        width: 100%;
        height: 100%;
    }
    .mycard{
        display: none;
    }
    .aboutuspart{
        gap: 1px;
        margin-left: -30px;
    }
    .descAbout{
        width: 100%;
    }
   
    .aboutpartAbout{
        display: inline;
        list-style: none;
        
        
        
    }
    .Avboutcard{
        padding: 20px;
        height: 100%;
        width: 100%;
        
    }

    .sec3{
        height: 100%;
        margin-top: 100px;
    }

    .serviceInsec3{
        gap: 30px;
        display: inline;
        list-style: none;
    }

    .cardInSkilss{
        padding: 10px;
        height: 100%;
        width: 100%;
    }

    .sec4{
        height: 100%;
        margin-top: 100px;
    }

    .skillInSec4{
        display: inline;
        list-style: none;
        gap: 50px;
    }
    .cardInMyskills{
        height: 100%;
        width: 100%;
        padding: 10px;
    }

    .sec5{
        width: 100%;
        font-size: 16px;
        height: 100%;
    }
    .educationInSec5{
        display: inline;
        list-style: none;
        gap:10px;
    }
    .line{
        display: none;
    }

    .textIneduc{
        font-size: 20px;
    }
    .sec6{
        height: 100%;
        margin-top: 100px;
    }

    .projectinSec6{
        display: inline;
        gap:20px;
        

    }

    .imginProj{
        width: 100%;
    }

    .lastSec{
        height: 100%;
        margin-top: 150px;
        margin-bottom: 100px;
    }
}